#### 문자열 연산

In [1]:
s1 = "오늘 저녁은"
s2 = "치킨이다"

s3 = s1 + s2
s3

print( s1 + s2 + "! 와 맛있겠다 !" + "비비큐로 먹어야지!")

오늘 저녁은치킨이다! 와 맛있겠다 !비비큐로 먹어야지!

In [2]:
# 파이썬에서는 문자열 곱셈도 가능합니다.
a= 'winner winner chicken dinner!!!!'

print ( a*3)

winner winner chicken dinner!!!!winner winner chicken dinner!!!!winner winner chicken dinner!!!!

In [3]:
# 문자열과 서로 다른 타입은 연산이 허용 되지 않음
print (a + 10)

TypeError: can only concatenate str (not "int") to str

#### 형 변환

-int()  
-float()  
-str()  
-bool()

In [ ]:
name = '홍길동'
point = 90

print(name + '님의 점수는' + str(point) + '입니다')

In [ ]:
str(point) # '90'
float(point) # 90.0
int(3.14) # 3
bool('True') # 논리형으로 변경

int(name) # 바뀔 수 없는 값은 형 변환시에 에러를 발생 시킴

In [ ]:
# 형 변환 함수를 사용 한다 해서 원본 변수가 바뀌는 것이 아닙니다.
# 원본 변수를 바꿔서 새로운 변수로 사용을 하려면 
x = str(point)
x

y = int(3.14)
y

# 문자열 => 실수형 => 정수형 => 변수저장
z="3.141592"

k = int(float(z))
k

type(k)

#### 표준 입력 input()

In [ ]:
a1 = input("안녕")

print("입력한 값은:" + a1)

In [ ]:
a2 = input('너 별명이 뭐니?')

print('너의 별명은 :' + a2)

In [ ]:
n1 = int( input('숫자 입력>') )
n2 = int( input('숫자 입력>') )

print('두 숫자의 합:' , + n1 + n2 )

In [29]:
n3 = input('이름을 입력하세요: ')
n4 = int(input('나이를 입력하세요: '))
n5 = 2023
years = n5 - n4 + 1
print("---------------------------------------")
print("이름:" + n3)
print("나이:" ,n4 , "세")
print("출생년도:" , years , "년")

이름을 입력하세요: 윤동진
나이를 입력하세요: 28
---------------------------------------
이름:윤동진
나이: 28 세
출생년도: 1996 년

In [34]:
p1 = int(input('음식의 가격 :'))
p2 = int(input('사람 수 :'))

print('-' * 30)
print("가게에 지불 해야 할 금액 :" , p1 * p2 , "원")

음식의 가격 :4000
사람 수 :10
------------------------------
가게에 지불 해야 할 금액 : 40000 원