#### 반복문 for

> for 변수 in 나열 가능한 자료 :

리스트 - [] 안에 값을 나열해 놓은 형식 입니다.

In [1]:
[1 , 2 , 3]

[1, 2, 3]

In [2]:
for i in [1,2,3] :
    print(i, '님 안녕하세요?')

1 님 안녕하세요?
2 님 안녕하세요?
3 님 안녕하세요?

In [3]:
sum1 = 0

for i in [1,2,3,4,5,6,7,8,9,10] :
    sum1 += i
print('라스트라는 요소안에 값의 합:', sum1)

라스트라는 요소안에 값의 합: 55

#### range 함수

- 리스트를 생성 할 때 일일히 하나씩 다 적는건 한계가 있습니다.
- range(시작값 , 끝값 , 점핑값) 을 통해서 리스트를 좀 더 쉽게 생성 할 수 있습니다.

In [4]:
list1 = list( range(1, 11) ) # 시작값은 포함 , 끝 값 미만 , 점핑값은 생략이 가능
list1

list( range(2, 11, 2)) # 숫자 3가지를 넣었을 경우 3번째 숫자 목적은 해당 숫자 만큼 건너 뛴다는 의미
list2

list3 = list(range(1,11,1))
list3

NameError: name 'list2' is not defined

In [ ]:
for i in range(1, 10) : # 1 ~ 10 
    print(i, end=' ')

In [ ]:
i = list (range(1,11))
print(i)

In [ ]:
# 7 ~ 200까지 정수 중에서 점핑값을 7로 해서 7의 배수를 가로로 출력
# 1 ~ 9876까지 정수 중에서 13의 배수의 개수를 구하세요
# 구구단 단수를 입력 받고 for 문을 이용 해서 구구단을 출력

In [134]:
for i in range (7,201,7) :
    print(i , end= ' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140 147 154 161 168 175 182 189 196

In [135]:
cnt = 0
for i in range (13 , 9877 , 13) :
    if i % 13 == 0:
        cnt += 1
print(cnt)

759

In [ ]:
cnt = 0
for i in range(1 , 9877) :
    if i % 13 == 0 :
        cnt += 1
print(cnt)

In [136]:
x = int(input ('숫자를 입력하세요'))

for i in range (1,10) :
    y = x * i
    print(f'{x} x {i} = {y}')

숫자를 입력하세요2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

### 중첩 반복
- 외부 반복문 안에 내부에서 반복문이 존재하는 형태

In [5]:
for i in range(1,10) : # 1 ~ 9
    
    for j in range(1,6) : # 1 ~ 5 
        print(i , '-' , j)

1 - 1
1 - 2
1 - 3
1 - 4
1 - 5
2 - 1
2 - 2
2 - 3
2 - 4
2 - 5
3 - 1
3 - 2
3 - 3
3 - 4
3 - 5
4 - 1
4 - 2
4 - 3
4 - 4
4 - 5
5 - 1
5 - 2
5 - 3
5 - 4
5 - 5
6 - 1
6 - 2
6 - 3
6 - 4
6 - 5
7 - 1
7 - 2
7 - 3
7 - 4
7 - 5
8 - 1
8 - 2
8 - 3
8 - 4
8 - 5
9 - 1
9 - 2
9 - 3
9 - 4
9 - 5

### 실습
구구단 2-9단까지 결과를 전부 출력

In [56]:
for a in range (2 , 10) :
    for b in range (1 , 10) :
        c = a * b
        if b == 1 :
            print(f'{a}단')

        print(f'{a} x {b} = {c}')

2단
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3단
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4단
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5단
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6단
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7단
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8단
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9단
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [61]:
for i in range(1,6) : # 1 ~ 5 # 행
    
    for j in range (1,i+1): # 1 ~ 행에 수 만큼 회전 # 끝 수는 미만이기 때문에 행에 수 만큼 돌기 위해선 +1
    
        print(i,j)

1 1
2 1
2 2
3 1
3 2
3 3
4 1
4 2
4 3
4 4
5 1
5 2
5 3
5 4
5 5

In [65]:
star = 6
for i in range(1 , star) : # 1 ~ 5 # 행
    
    for j in range (1 , i+1): # 1 ~ 행에 수 만큼 회전 # 끝 수는 미만이기 때문에 행에 수 만큼 돌기 위해선 +1
    
        print('*' , end = '')
    print()

*
**
***
****
*****

In [69]:
for i in range(1,6) :
    for j in range (1 ,star -i +1):
        print('*' , end= '')
    print()

*****
****
***
**
*

In [ ]:
## 내부반복문을 공백을 출력하는 반복문 1개 별을 출력하는 반복문 1개

In [ ]:
#공백
1 4
2 3 
3 2
4 1
5 0

In [133]:
star = 6
for i in range (1, star) :
    for j in range(1,star - i): # 공백을 출력
        print(' ', end ='')
    for j in range(1,i * 2): # 별을 출력
        print('*' , end = '')
    print()

    *
   ***
  *****
 *******
*********