#### 모듈
- 모듈이란 , 파이썬에 미리 만들어져 있는 스크립트 파일 

- import 모듈명을 사용 합니다.

In [4]:
import time

# 모듈안에 기능을 사용할때는 . 으로 사용합니다.

result = time.ctime() # shift + tab

result

'Tue Oct 24 15:21:07 2023'

In [8]:
import math

math.ceil(3.14) # 올림

math.sqrt(4) # root값

math.floor(3.14) # 내림

math.log10(2) # log값

0.3010299956639812

In [12]:
# 모듈 가져오기 방법 2 - math 모듈에서 ceil , floor , sqrt를 가져옴

from math import ceil , floor , sqrt # 가져올 함수
# 직접 함수를 가져온 문장이기 때문에 함수명() 곧바로 사용 가능
ceil(3.14)
floor(3.14)
sqrt(4)

2.0

In [13]:
# 모듈 가져오기 방법 2 별칭 짓기 - ctime 함수의 별칭을 c로 사용
from time import ctime as c # as c 를 이용하여 ctime 함수의 별칭을 c로 사용

c()

'Tue Oct 24 15:31:12 2023'

In [32]:
# 모듈 가져오기 방법 3 - 보통 가장 많이 사용 하는 방법 

import random as r # random 모듈을 r 별칭으로 가져오기

r.random() # random은 랜덤한 값을 가져오는 함수

0.6957073368813121

In [36]:
import pandas as pd
data = {
    '이름' : ['홍길동' , '이순신'],
    '나이' : [10,20] ,
    '점수' : [100 , 90]
}
pd.DataFrame(data)

    이름  나이   점수
0  홍길동  10  100
1  이순신  20   90